@import '../core/variables.scss';
@import '../core/mixins.scss';

ul.items-list {
  @include page;
  flex-direction: column;

  span.no-results {
    min-height: 40vh;
    padding: $medium-space;
    color: $remarked-text-color;
    font-size: $list-item-title-font-size;
    font-weight: bold;
  }

  li.item-container, li.item-container > a {
    @include aligned-grow-flex;
    width: 100%;

    &:not(:first-child) {
      article.item {
        border-style: solid;
        border-top-width: 0.001em;
        border-color: $separator-color;
      }
    }

    article.item {
      display: inline-flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 $small-space;
      padding: $small-space 0;

      @media(min-width: 768px) {
        justify-content: left;
        flex-wrap: nowrap;
      }

      img.thumbnail {
        width: 180px;
        min-width: 180px;
        height: 180px;
        min-height: 180px;
        margin-right: $small-space;
        border-radius: $border-radius;
      }

      div.item-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;

        section.abstract {
          max-width: 500px;
          margin-top: $small-space;
  
          div.price-and-shipping {
            display: inline-flex;

            
            span.price {
              font-size: $list-item-price-font-size;

              span.currency {
                margin-right: $tiny-space;
              }
            }

            img.free-shipping {
              width: $list-item-price-font-size * 0.9;
              height: $list-item-price-font-size * 0.9;
              margin-left: $tiny-space;
            }
          }
                    
          h1 {
            margin-top: $medium-space;
            font-size: $list-item-title-font-size;
          }
        }
  
        section.additional-info {
          margin-top: $medium-space;
          font-size: $list-item-addiotional-info-font-size;
          min-width: 180px;
          max-width: 180px;
        }
      }
    }
  }
}