// colors
$app-color: #ffe600;
$primary-action-color: #3483fa;
$page-background-color: #eee;
$container-background-color: #fff;

$remarked-text-color: #333;
$primary-text-color: #666;
$secondary-text-color: #999;

$separator-color: #ececec;

// spaces
$tiny-space: 8px;
$small-space: 2 * $tiny-space;
$medium-space: 2 * $small-space;

// font sizes
$list-item-addiotional-info-font-size: 12px;
$item-detail-status-font-size: 14px;
$breadcumb-font-size: 14px;
$item-detail-desc-content-font-size: 16px;
$input-font-size: 18px;
$list-item-title-font-size: 18px;
$list-item-price-font-size: 24px;
$item-detail-title-font-size: 24px;
$item-detail-desc-title-font-size: 28px;
$item-detail-price-font-size: 46px;

// other
$border-radius: 4px;
$input-padding: 4px;