$primary-action-color: #3483FA;
$page-background-color: #FFF;
$container-background-color: #EEE;

$remarked-text-color: #333;
$primary-text-color: #666;
$secondary-text-color:#999;

$small-margin: 16px;
$medium-margin: 2 * $small-margin;

$border-radious: 4px;