@import '../../core/variables.scss';

nav.no-breadcrumb {
  height: $small-space;
}

nav.breadcrumb {
  color: $secondary-text-color;
  font-size: $breadcumb-font-size;
  margin: $small-space 0;

  span.separator {
    padding: 0 $tiny-space;
  }

  span.category-name.last-in-path {
    font-weight: bold;
  }
}